## Retos 04y05S2: Uso del criterio Tf-IDF

In [2]:
# Importamos las librerías de pandas y Sklearn
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer

In [3]:
# Descripciones de series de Netflix tomadas de Wikipedia
# (Cada elemento del arreglo contiene descripciones concatenadas de
# un solo género, siendo los siguientes:)

# 1) Ciencia Ficción [Stranger Things | Black Mirror | The walking dead | Rick y Morty]
# 2) Drama / Comedia [Friends | La teoría del Big Bang | Orange is the new black | Esposas desesperadas]
# 3) Super Héroes [Daredevil | Jessica Jones | Los defensores | Agentes de S.H.I.E.L.D.]

Stranger_Things = "La historia arranca durante la década de los 80, en el pueblo ficticio de Hawkins, Indiana, cuando un niño llamado Will Byers desaparece, hecho que destapa los extraños sucesos que tienen lugar en la zona, producto de una serie de experimentos que realiza el gobierno en un laboratorio científico cercano."
Black_Mirror = "Black Mirror es una producción británica desarrollada por Charlie Brooker ('Dead set: Muerte en directo'), Una serie de episodios independientes entre sí y, con un reparto y tramas totalmente diferentes, cuyo único punto común es el poder de las nuevas tecnologías para mover el mundo."
Walking_dead = "The Walking Dead es una serie de televisión creada y producida por Robert Kirkman y Frank Darabont, basada en el cómic homónimo de Robert Kirkman. La serie se sitúa en un mundo postapocalíptico y está protagonizada por Rick Grimes (Andrew Lincoln), un oficial de policía que al despertar de un coma se encuentra con que la civilización ha desaparecido debido a un inexplicable fenómeno que hace que las personas muertas se pongan en pie y ataquen a las personas vivas, transformándolas a su vez en caminantes muertos (walking dead). Al encontrar a su familia, Rick se une a un grupo de supervivientes convirtiéndose en su líder. La historia narra las vivencias de dicho grupo, que debe enfrentarse tanto a los caminantes muertos, como a otros grupos de personas vivas que también luchan por subsistir e imponer su poder."
Rick_and_Morty = "Rick por diferentes razones termina mudándose a la casa de su hija Beth y en ese momento se encuentra con su nieto Morty; un joven de 14 años tímido y no muy listo. Al juntarse con su nieto, Rick y Morty vivirán una variedad de aventuras a lo largo del Cosmos y Universos paralelos."

Friends = "La serie trata sobre la vida de un grupo de amigos, Chandler Bing, Phoebe Buffay, Monica Geller, Ross Geller, Rachel Green y Joey Tribbiani que residen en Manhattan, Nueva York. Suceden tanto buenos como malos momentos, pero con una crítica cómica a los hechos más trascendentales de la actualidad."
Teoria_Big_Bang = "La serie comienza con la llegada de Penny (Kaley Cuoco), la nueva vecina que se instala en el piso de enfrente. Penny, que habita las antípodas vitales e intelectuales de ambos cerebritos, altera la tranquila vida sentimental de Leonard y resulta un continuo detonador para el desorden obsesivo-compulsivo de Sheldon."
Orange_is_the_new_black = "Orange is the New Black sigue las vivencias reales de Piper Chapman, una mujer culpable de transportar dinero proveniente del narcotráfico, y sus compañeras de la cárcel Litchfield. La serie trata temas como lesbianismo, racismo, injusticias del sistema penitenciario, represión sexual y corrupción policial."
Esposas_desesperadas = "La serie se desarrolla en Wisteria Lane, zona residencial situada en la imaginaria ciudad de Fairview, Eagle State. Trata de las vidas de cinco amas de casa, a través de sus vidas domésticas a la vez que se revelan varios misterios acerca de sus maridos, amigos y vecinos."

Daredevil = "Marvel's Daredevil o simplemente Daredevil es una serie de televisión estadounidense de género dramático y acción, creada por Drew Goddard y basada en la historia del superhéroe de Marvel Comics del mismo nombre. Es producida por Marvel Television, en asociación con ABC Studios, DeKnight Prods. y Goddard Textiles, distribuida en el servicio de streaming Netflix y ambientada en el Universo cinematográfico de Marvel."
Jessica_Jones = "Pese a que su corta vida como superheroina terminó en tragedia, Jessica Jones ha estado reconstruyendo su vida personal y su carrera como una temperamental y irascible detective privada en Hell's Kitchen, en la ciudad de Nueva York."
Defensores = "Marvel's The Defenders o simplemente The Defenders es una serie de televisión incluida en el Universo cinematográfico de Marvel. Su estreno tuvo lugar el 18 de agosto de 2017 en el servicio de streaming de Netflix. Está basada en la historia del grupo de mismo nombre de Marvel Comics. Se trata de un crossover de 4 personajes de diferentes series distribuidas también por Netflix, en este grupo se incluye a los superhéroes Daredevil, Jessica Jones, Luke Cage y Iron Fist."
Agentes_SHIELD = "Marvel's Agents of S.H.I.E.L.D.,3​ o simplemente Agents of S.H.I.E.L.D., es una serie de televisión estadounidense, basada en la organización del mismo nombre que aparece en Marvel Comics. Producida por Marvel Television y emitida en la cadena ABC, constituye la primera serie de acción real del estudio​ y forma parte del universo cinematográfico de Marvel, compartiendo continuidad con las demás películas y series de la franquicia. El piloto fue escrito por Joss Whedon, Jed Whedon y Maurissa Tancharoen, y dirigido por el primero."

Descripciones = [Stranger_Things + " " + Black_Mirror + " " + Walking_dead + " " + Rick_and_Morty, 
                 Friends + " " + Teoria_Big_Bang + " " + Orange_is_the_new_black + " " + Esposas_desesperadas, 
                 Daredevil + " " + Jessica_Jones + " " + Defensores + " "  + Agentes_SHIELD]

In [4]:
# Inicializar el vectorizador
CV = CountVectorizer()
# Convertir el arreglo de descripciones en un modelo de Textos Vs Vocabulario
VectorPalabras = CV.fit_transform(Descripciones)
# Forma del vector resultante (Textos, Vocabulario)
print("Forma del vector(Textos, Vocabulario) = " + str(VectorPalabras.shape))

Forma del vector(Textos, Vocabulario) = (3, 356)

In [7]:
# Creamos un transformador de nuestro vector  
tfidf_transformer = TfidfTransformer(smooth_idf=False, sublinear_tf=False, use_idf=True)
tfidf_transformer.fit(VectorPalabras)

# Insertamos los valores en un DataSet
df_idf = pd.DataFrame(tfidf_transformer.idf_, index = CV.get_feature_names_out(), columns = ["Pesos-IDF"])
 
# Ordenams los valores del de menor relevancia hasta el de mayor relevancia
df_idf.sort_values(by=['Pesos-IDF'])

                Pesos-IDF
el               1.000000
del              1.000000
se               1.000000
the              1.000000
un               1.000000
...                   ...
estreno          2.098612
este             2.098612
estadounidense   2.098612
fenómeno         2.098612
único            2.098612

[356 rows x 1 columns]

In [22]:
tfidf_transformer.transform(VectorPalabras)

<3x356 sparse matrix of type '<class 'numpy.float64'>'
	with 413 stored elements in Compressed Sparse Row format>

In [24]:
# Creamos el "count vector" el cuál indica la cantidad de 
# veces que se repite cada token único
count_vector = CV.transform(Descripciones)

# Cálculo de los valores para tf-idf
tf_idf_vector = tfidf_transformer.fit(count_vector)

# Generamos un DataFrame con los valores tf-idf de cada token
# para cada texto
df = pd.DataFrame(tfidf_transformer.transform(VectorPalabras).T.todense(),
                  # NOTE: old version -> CV.get_feature_names(), 
                  index=CV.get_feature_names_out(),
                  columns=["TfIdf 1", "TfIdf 2", "TfIdf 3"])
# Ordenamos el Dataset por valores (Descendente)
df.sort_values(by=["TfIdf 1", "TfIdf 2", "TfIdf 3"],ascending=False)

                TfIdf 1   TfIdf 2   TfIdf 3
de             0.377984  0.512231  0.425949
en             0.236240  0.120525  0.283966
su             0.232419  0.000000  0.114030
que            0.212616  0.120525  0.040567
un             0.212616  0.060262  0.020283
...                 ...       ...       ...
temperamental  0.000000  0.000000  0.042567
terminó        0.000000  0.000000  0.042567
textiles       0.000000  0.000000  0.042567
tragedia       0.000000  0.000000  0.042567
tuvo           0.000000  0.000000  0.042567

[356 rows x 3 columns]

In [25]:
# Impresión de sólo la primer columna del DataFrame ordenada
# (Primeros 10 elementos)
df_tfidf1 = pd.DataFrame(df['TfIdf 1'])
df_tfidf1.sort_values(by=["TfIdf 1"] ,ascending=False).head(10)

       TfIdf 1
de    0.377984
en    0.236240
su    0.232419
un    0.212616
que   0.212616
rick  0.198310
por   0.166013
la    0.165368
dead  0.148733
al    0.148733

In [26]:
# Impresión de sólo la segunda columna del DataFrame ordenada
# (Primeros 10 elementos)
df_tfidf2 = pd.DataFrame(df['TfIdf 2'])
df_tfidf2.sort_values(by=["TfIdf 2"] ,ascending=False).head(10)

         TfIdf 2
de      0.512231
la      0.361575
sus     0.189701
trata   0.127045
amigos  0.126467
penny   0.126467
geller  0.126467
vidas   0.126467
serie   0.120525
en      0.120525

In [27]:
# Impresión de sólo la tercera columna del DataFrame ordenada
# (Primeros 10 elementos)
df_tfidf3 = pd.DataFrame(df['TfIdf 3'])
df_tfidf3.sort_values(by=["TfIdf 3"] ,ascending=False).head(10)

                  TfIdf 3
marvel           0.468235
de               0.425949
en               0.283966
por              0.171045
el               0.141983
la               0.141983
universo         0.127700
cinematográfico  0.127700
comics           0.127700
netflix          0.127700

## Reto 15: TF-IDF para extraer características

In [28]:
# Filtrado de los tokens de la tabla anterior
Nuevas_Descripciones = []
AuxDesc = ""
for Desc in Descripciones:
    AuxDesc = Desc
    for token in df_idf['Pesos-IDF'].keys():
        if(df_idf['Pesos-IDF'][token] <= 1.5):
            # Método para reemplazar una cadena de caracteres por otra
            AuxDesc = AuxDesc.replace(" " + token + " ", " ")
    Nuevas_Descripciones.append(AuxDesc)

In [30]:
# Proceso de vectorización y cálculo de idf
CV = CountVectorizer()
VectorPalabras = CV.fit_transform(Nuevas_Descripciones)
print("Forma del vector(Textos, Vocabulario) = " + str(VectorPalabras.shape))
tfidf_transformer = TfidfTransformer(smooth_idf=False, sublinear_tf=False, use_idf=True)
tfidf_transformer.fit(VectorPalabras)
df_idf = pd.DataFrame(tfidf_transformer.idf_, index = CV.get_feature_names_out(), columns = ["Pesos-IDF"])
df_idf.sort_values(by=['Pesos-IDF'])

Forma del vector(Textos, Vocabulario) = (3, 332)

           Pesos-IDF
la          1.405465
black       1.405465
nueva       1.405465
the         1.405465
york        1.405465
...              ...
escrito     2.098612
es          2.098612
episodios   2.098612
enfrente    2.098612
único       2.098612

[332 rows x 1 columns]

In [34]:
# Cálculo de tf-idf por grupo y creación de DataFrame 
count_vector=CV.transform(Nuevas_Descripciones)
tf_idf_vector=tfidf_transformer.fit(count_vector)
df = pd.DataFrame(tfidf_transformer.transform(VectorPalabras).T.todense(), # tf_idf_vector.T.todense(), 
                  index=CV.get_feature_names_out(), 
                  columns=["TfIdf 1", "TfIdf 2", "TfIdf 3"])
df.sort_values(by=["TfIdf 1", "TfIdf 2", "TfIdf 3"],ascending=False)

                TfIdf 1   TfIdf 2   TfIdf 3
rick           0.277394  0.000000  0.000000
al             0.208046  0.000000  0.000000
dead           0.208046  0.000000  0.000000
personas       0.208046  0.000000  0.000000
la             0.139331  0.235384  0.000000
...                 ...       ...       ...
temperamental  0.000000  0.000000  0.055582
terminó        0.000000  0.000000  0.055582
textiles       0.000000  0.000000  0.055582
tragedia       0.000000  0.000000  0.055582
tuvo           0.000000  0.000000  0.055582

[332 rows x 3 columns]

In [35]:
# Impresión de sólo la primer columna del DataFrame ordenada
# (Primeros 10 elementos)
df_tfidf1 = pd.DataFrame(df['TfIdf 1'])
df_tfidf1.sort_values(by=["TfIdf 1"] ,ascending=False).head(10)

            TfIdf 1
rick       0.277394
dead       0.208046
personas   0.208046
al         0.208046
la         0.139331
robert     0.138697
encuentra  0.138697
kirkman    0.138697
morty      0.138697
muertos    0.138697

In [36]:
# Impresión de sólo la segunda columna del DataFrame ordenada
# (Primeros 10 elementos)
df_tfidf2 = pd.DataFrame(df['TfIdf 2'])
df_tfidf2.sort_values(by=["TfIdf 2"] ,ascending=False).head(10)

           TfIdf 2
sus       0.263603
la        0.235384
vidas     0.175735
geller    0.175735
amigos    0.175735
penny     0.175735
residen   0.087868
revelan   0.087868
enfrente  0.087868
resulta   0.087868

In [37]:
# Impresión de sólo la tercer columna del DataFrame ordenada
# (Primeros 10 elementos)
df_tfidf3 = pd.DataFrame(df['TfIdf 3'])
df_tfidf3.sort_values(by=["TfIdf 3"] ,ascending=False).head(10)

                  TfIdf 3
marvel           0.611403
comics           0.166746
simplemente      0.166746
mismo            0.166746
universo         0.166746
nombre           0.166746
cinematográfico  0.166746
netflix          0.166746
daredevil        0.166746
servicio         0.111164